.header-right {
  margin-right: 20px;
}

.header-nav-item .dropdown-wrapper {
  line-height: 54px;
}

.header-nav-item .dropdown-wrapper .arrow {
  width: 8px;
  height: 5px;
}

.header-nav-item .dropdown-wrapper .dropdown-list {
  right: -15px;
}

.header-nav-item .dropdown-wrapper .dropdown-list .dropdown-item:hover{
  background-color: var(--loader-secondary-color);
}