<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotstrip.runapi.domain.mapper.ApiLogMapper">

    <select id="listPage" resultType="com.hotstrip.runapi.domain.model.ApiLog">
        SELECT *
        FROM PUBLIC.api_log
        WHERE 1=1
        <if test="info.url != null">
            AND url like concat(#{info.url}, '%')
        </if>
        order by create_time desc
    </select>
</mapper>